<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <display-name>maven3-plugin</display-name>

  <filter>
    <filter-name>http-request-context</filter-name>
    <filter-class>org.codehaus.enunciate.webapp.HTTPRequestContextFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>http-request-context</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <mime-mapping>
    <extension>wsdl</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
</web-app>
